.navbar {
    display: flex;
    flex-direction: row; /* Ensures items are in a row */
    justify-content: space-between; /* Spaces out the logo and button */
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    height: 80px;
    margin-top: 20px;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
    width: 6%;

}

.nav-login-button {
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-button button.button {
    text-decoration: none;
    width: 90px; /* Reasonable button size */
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    font-size: 14px;
    background: rgb(107, 103, 103);
    color: white;
}
